.container {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  border-bottom: 1px solid grey;
  padding: 10px;
  font-weight: 600;
  font-size: 1.4em;
}

.row {
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.name {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.volume {
  display: flex;

  justify-content: space-between;
}
