.container {
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: stretch;

  & > :nth-child(even) {
    background-color: #eee;
  }
}

.foreground {
  position: relative;
  display: flex;
}

.column {
  width: 9999px;
  position: relative;
}

.cells {
  padding: 10px;
}

.cell + .cell {
  box-sizing: border-box;
  border-top: 1px solid rgba(#000, 0.2);
}
